p {
    border:2px solid linear-gradient(180degrgb(40, 134, 138), rgb(223, 110, 4));
    width:90%;
    float: left;
    height:100%;
    line-height:35px;
    background:#f6f5ef;
    padding:10px;
    margin-top:5px;
    box-sizing: border-box;
    word-break: keep-all;
    padding-top:30px;
}