body {
    margin: 0;
    padding:0;
    font-family: sans-serif;
}
ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:
}

p {
    
    width:50%;
    float: left;
    height:100%;
    line-height:35px;
    background:#f6f5ef;
    padding:10px;
    margin-top:5px;
    box-sizing: border-box;
    word-break: keep-all;
    padding-top:30px;
}