p {
    border:1px solid;
    width:80px;
    float: left;
    height:290px;
    line-height:35px;
    background:#f6f5ef;
    padding:10px;
    margin-top:5px;
    box-sizing: border-box;
    word-break: keep-all;
    padding-top:30px;
}